#GSBooster-Loaded {
  display: none;
}

/**
 * Sho/Hide exhibitions banner
 */
.GSBooster-ShowHideBanner {
  width: 100%;
  text-align: left;
  font-size: 0.8em;
}

.GSBooster-ShowHideBanner a {
  color: #aaa;
}


/**
 * Show custom +N votes in every challenge
 */
.GSBooster-VotesSince {
  font-size: 0.4em;
  text-align: left;
  font-weight: normal;
  color: #177B70;
}

.GSBooster-VotesSince--mobile {
  font-size: 0.4em;
  text-align: center;
  margin-top: 12px;
}

.GSBooster-VotesSince--speed {
  font-size: 0.9em;
  text-align: center;
  margin-top: 0px;
}

.GSBooster-SinceZero {
  color: #bbb;
  font-size: 0.7em;
}

/**
 * Custom Notifications
 */

#GSBooster-TotalPlus .name {
  text-transform: none;
}

.GSBooster-TotalPlus--positive .number, .GSBooster-TotalPlus--positive .name {
  color: #177B70 !important;
}

.GSBooster-TotalPlus--positive .icon-vote-menu {
  background-color: #177B70 !important;
}

#GSBooster-NotifBoost .icon-boost {
  background-color: #177B70 !important;
}
